<footer class="bg-gray-800 text-white">
    <div class="max-2-6xl max-auto px-4 py-10 md:py-20">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <!-- About section -->
            <div class="space-y-8 xl:col-span-1">
                <h3 class="text-sm font-semibold text-gray-200 tracking-wider uppercase">About FFH</h3>
                <p class="text-white leading-6">
                    FFH is a leading online school uniform marketplace, offering a wide range of products to cater to all your needs. Our commitment ot quality and customer service ensures a great shopping experience.
                </p>
            </div>
        </div>
    </div>
</footer>